{% macro nom(result) -%}
    {% set name %}
            {% if result.nom_part_ag is defined and result.nom_part_ag is not none %}
                {{ result.nom_part_ag }}
            {% else %}
                {% if result.nom_part is not none %}
                    {{ result.nom_part }}
                {% endif %}
                {% if result.nom_paterno is not none %}
                   {{ result.nom_paterno }}
                {% endif %}
                {% if result.nom_materno is not none %}
                   {{ result.nom_materno }}
                {% endif %}
                {% if result.seudonimo is not none %}
                   '{{ result.seudonimo }}'
                {% endif %}
            {% endif %}
    {% endset %}
    {% if name|trim == "" %}
        <div style="display: inline;">Desconocido</div>
    {% else %}
        <div style="display: inline;">{{ name|safe }}</div>
    {% endif %}
{% endmacro %}

{%  macro nom_link(result) -%}
    {% if result.pers_id is not none %}
        <a href="{{ url_for("main.autor", part_id=result.pers_id) }}"> {{ nom(result) }} &nbsp;</a>
    {% else %}
        <a href="{{ url_for("main.colectivo", part_id=result.gr_id) }}"> {{ nom(result) }} &nbsp;</a>
    {% endif %}
{% endmacro %}


{% macro render_profile(label, result) -%}
    {% if result is not none and result is defined %}
        <tr><th scope="row">{{ label|safe }} </th><td>{{ result|safe }}</td></tr>
    {% endif %}
{% endmacro %}


{% macro lugar(result, muer=False) -%}
    {% set lugar %}
        {% if muer %}
            {% if result.ciudad is not none and result.ciudad is defined %}
                {{ result.ciudad }},
            {% endif %}
            {% if result.subdivision is not none and result.subdivision is defined %}
               {{ result.subdivision }},
            {% endif %}
            {% if result.pais is not none %}
               {{ result.pais }}
            {% endif %}
        {% else %}
            {% if result.ciudad is not none and result.ciudad is defined %}
                {{ result.ciudad }},
            {% endif %}
            {% if result.subdivision is not none and result.subdivision is defined %}
               {{ result.subdivision }},
            {% endif %}
            {% if result.pais is not none %}
               {{ result.pais }}
            {% endif %}
        {% endif %}
    {% endset %}
    {% if lugar|trim == "" %}
        <div style="display: inline;">Desconocido</div>
    {% else %}
        <div style="display: inline;">{{ lugar|safe }}</div>
    {% endif %}
{% endmacro %}


{% macro render_select(value, default) -%}
    {% if value|lower == default|lower %}
    <option value="{{ value|lower|safe }}" selected>{{ value|safe }}</option>
    {% else %}
    <option value="{{ value|lower|safe }}">{{ value|safe }}</option>
    {% endif %}
{% endmacro %}


{% macro render_none(value, output=none) -%}
    {% if value is not none %}
        {{ value|safe }}
     {% elif output is not none %}
       {{ output|safe }}
    {% endif %}
{% endmacro %}

{% macro persona(result) -%}
    {% if 'pers' in result and result.pers is not none and result.pers|length > 0 %}
        <div class="card">
            <div class="card-header" role="tab" id="autor-heading">
                <h3 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#autor-collapse" aria-expanded="true" aria-controls="autor-collapse">
                        Autor
                    </a>
                </h3>
            </div>
            <div id="autor-collapse" class="collapse in">
                <div class="card-block">
                    <table class="table table-striped mod-tables">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Origen</th>
                            <th>Nacimiento</th>
                            <th>Muerte</th>
                        {% if 'mod' in result and result.mod == True %}
                            <th>Usuario</th>
                        {% endif %}
                        {% if 'editor' in result and result.editor == True %}
                            <th>Estado</th>
                            <th>Acción</th>
                        {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for entry in result.pers %}
                        <tr>
                            <td><a class="no-underline" href="{{ url_for("main.autor", part_id=entry.part_id) }}">
                                    {{ nom(entry) }}</a>
                            </td>
                            <td>{{ lugar(entry) }}</td>
                            <td>{{ render_none(entry.fecha_comienzo) }}</td>
                            <td>{{ render_none(entry.fecha_finale) }}</td>
                            {% if 'mod' in result and result.mod == True %}
                                <td>{{ entry.nom_usuario }}</td>
                                <td>
                                    <select class="form-control ajax-select" data-role="pers"
                                            data-id="{{ entry.part_id }}">
                                        {{ render_select('Pendiente', entry.estado) }}
                                        {{ render_select('Publicado', entry.estado) }}
                                        {{ render_select('Rechazado', entry.estado) }}
                                        {{ render_select('Depositar', entry.estado) }}
                                    </select>
                                </td>
                            {% elif 'editor' in result and result.editor == True %}
                                <td>{{ entry.estado }}</td>
                            {% endif %}
                            {% if 'editor' in result and result.editor == True %}
                            <td>
                                <a class="glyphicon glyphicon-pencil"
                                   href="{{ url_for('user.poner_persona', obra_id=entry.part_id) }}"></a>&nbsp;
                                <a class="open-confirm-modal glyphicon glyphicon-remove"
                                   data-role="persona" data-id="{{ entry.part_id }}"
                                    data-toggle="modal" data-target="#confirm-modal"></a>
                            </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
   {% endif %}
{% endmacro %}


{% macro grupo(result) -%}
    {% if 'grupos' in result and result.grupos is not none and result.grupos|length > 0 %}
        <div class="card">
            <div class="card-header" role="tab" id="grupo-heading">
                <h3 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#grupo-collapse" aria-expanded="true" aria-controls="grupo-collapse">
                        Grupos
                    </a>
                </h3>
            </div>
            <div id="grupo-collapse" class="collapse in">
                <div class="card-block">
                    <table class="table table-striped mod-tables">
                    <thead>
                        <tr>
                            <th>Nombr</th>
                            <th>Origen</th>
                            <th>Comienzo</th>
                            <th>Final</th>
                        {% if 'mod' in result and result.mod == True %}
                            <th>Usuario</th>
                        {% endif %}
                        {% if 'editor' in result and result.editor == True %}
                            <th>Estado</th>
                            <th>Acción</th>
                        {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for entry in result.grupos %}
                        <tr>
                            <td><a class="no-underline" href="{{ url_for("main.colectivo", part_id=entry.part_id) }}">
                                    {{ entry.nom_part }}</a>
                            </td>
                            <td>{{ lugar(entry) }}</td>
                            <td>{{ render_none(entry.fecha_comienzo) }}</td>
                            <td>{{ render_none(entry.fecha_finale) }}</td>
                            {% if 'mod' in result and result.mod == True %}
                                <td>{{ entry.nom_usuario }}</td>
                                <td>
                                    <select class="form-control ajax-select" data-role="grupo"
                                            data-id="{{ entry.part_id }}">
                                        {{ render_select('Pendiente', entry.estado) }}
                                        {{ render_select('Publicado', entry.estado) }}
                                        {{ render_select('Rechazado', entry.estado) }}
                                        {{ render_select('Depositar', entry.estado) }}
                                    </select>
                                </td>
                            {% elif 'editor' in result and result.editor == True %}
                                <td>{{ entry.estado }}</td>
                            {% endif %}
                            {% if 'editor' in result and result.editor == True %}
                            <td>
                                <a class="glyphicon glyphicon-pencil"
                                   href="{{ url_for('user.poner_grupo', obra_id=entry.part_id) }}"></a>&nbsp;
                                <a class="open-confirm-modal glyphicon glyphicon-remove"
                                   data-role="grupo" data-id="{{ entry.part_id }}"
                                    data-toggle="modal" data-target="#confirm-modal"></a>
                            </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
   {% endif %}
{% endmacro %}


{% macro pista(result) -%}
    {% if 'pistas' in result and result.pistas is not none and result.pistas.rowcount > 0 %}
        <div class="card">
            <div class="card-header" role="tab" id="pista-heading">
                <h3 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#pista-collapse" aria-expanded="true" aria-controls="pista-collapse">
                        Pista sonora
                    </a>
                </h3>
            </div>
            <div id="pista-collapse" class="collapse in">
                <div class="card-block">
                    <table class="table table-striped mod-tables">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Origen</th>
                            <th>Serie</th>
                        {% if 'mod' in result and result.mod == True %}
                            <th>Usuario</th>
                        {% endif %}
                        {% if 'editor' in result and result.editor == True %}
                            <th>Estado</th>
                            <th>Acción</th>
                        {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for entry in result.pistas %}
                        <tr>
                            <td><a class="no-underline" href="{{ url_for('main.composicion', comp_id=entry.composicion_id) }}">
                                {{ entry.nom_tit }}
                                </a>
                            </td>
                            <td>
                              {{ render_none(entry.fecha_grab) }}
                            </td>
                            <td>{{ lugar(entry) }}</td>
                            <td>
                                {% if entry.serie_id is not none %}
                                    <a href="/serie/{{ entry.serie_id }}/">{{ entry.nom_serie }}</a>
                                {% endif %}
                            </td>
                            {% if 'mod' in result and result.mod == True %}
                                <td>{{ entry.nom_usuario }}</td>
                                <td>
                                    <select class="form-control ajax-select" data-role="pista"
                                            data-id="{{ entry.pista_son_id }}">
                                        {{ render_select('Pendiente', entry.estado) }}
                                        {{ render_select('Publicado', entry.estado) }}
                                        {{ render_select('Rechazado', entry.estado) }}
                                        {{ render_select('Depositar', entry.estado) }}
                                    </select>
                                </td>
                            {% elif 'editor' in result and result.editor == True %}
                                <td>{{ entry.estado }}</td>
                            {% endif %}
                            {% if 'editor' in result and result.editor == True %}
                            <td>
                                <a class="glyphicon glyphicon-pencil"
                                   href="{{ url_for('user.poner_pista', obra_id=entry.pista_son_id) }}"></a>&nbsp;
                                <a class="open-confirm-modal glyphicon glyphicon-remove"
                                   data-role="pista" data-id="{{ entry.pista_son_id }}"
                                    data-toggle="modal" data-target="#confirm-modal"></a>
                            </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
   {% endif %}
{% endmacro %}



{% macro compo_serie(result) -%}
    {% if 'comps' in result and result.comps|length > 0 %}
        <div class="card">
            <div class="card-header" role="tab" id="composicion-heading">
                <h3 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#composicion-collapse" aria-expanded="true" aria-controls="composicion-collapse">
                        Composición
                    </a>
                </h3>
            </div>
            <div id="composicion-collapse" class="collapse in">
                <div class="card-block">
                    <table class="table table-striped mod-tables">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Número de pista</th>
                            <th>Fecha publicación</th>
                            <th>Autor(es)</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for entry in result.comps %}
                        <tr>
                            <td><a class="no-underline" href="{{ url_for("main.composicion", comp_id=entry.0.composicion_id) }}">
                                {{ entry.0.nom_tit }}
                                    {% if entry.0.nom_alt is not none and entry.0.nom_alt != "" %}
                                        | {{ entry.0.nom_alt }}
                                    {% endif %}
                                </a>
                            </td>
                            <td>{{ entry.0.numero_de_pista }}</td>
                            <td>{{ render_none(entry.0.fecha_pub) }}</td>
                            <td>
                                {% for autor in entry.1 %}
                                    {{ nom_link(autor) }} |
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
   {% endif %}
{% endmacro %}




{% macro composicion(result) -%}
    {% if 'comps' in result and result.comps|length > 0 %}
        <div class="card">
            <div class="card-header" role="tab" id="composicion-heading">
                <h3 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#composicion-collapse" aria-expanded="true" aria-controls="composicion-collapse">
                        Composición
                    </a>
                </h3>
            </div>
            <div id="composicion-collapse" class="collapse in">
                <div class="card-block">
                    <table class="table table-striped mod-tables">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Fecha publicación</th>
                            <th>Autor(es)</th>
                        {% if 'mod' in result and result.mod == True %}
                            <th>Usuario</th>
                        {% endif %}
                        {% if 'editor' in result and result.editor == True %}
                            <th>Estado</th>
                            <th>Acción</th>
                        {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for entry in result.comps %}
                        <tr>
                            <td><a class="no-underline" href="{{ url_for("main.composicion", comp_id=entry.0.composicion_id) }}">
                                {{ entry.0.nom_tit }}
                                    {% if entry.0.nom_alt is not none and entry.0.nom_alt != "" %}
                                        | {{ entry.0.nom_alt }}
                                    {% endif %}
                                </a>
                            </td>
                            <td>{{ render_none(entry.0.fecha_pub) }}</td>
                            <td>
                                {% for autor in entry.1 %}
                                    {{ nom_link(autor) }} |
                                {% endfor %}
                            </td>
                            {% if 'mod' in result and result.mod == True %}
                                <td>{{ entry.0.nom_usuario }}</td>
                                <td>
                                    <select class="form-control ajax-select" data-role="comp"
                                            data-id="{{ entry.0.composicion_id }}">
                                        {{ render_select('Pendiente', entry.0.estado) }}
                                        {{ render_select('Publicado', entry.0.estado) }}
                                        {{ render_select('Rechazado', entry.0.estado) }}
                                        {{ render_select('Depositar', entry.0.estado) }}
                                    </select>
                                </td>
                            {% elif 'editor' in result and result.editor == True %}
                                <td>{{ entry.0.estado }}</td>
                            {% endif %}
                            {% if 'editor' in result and result.editor == True %}
                            <td>
                                <a class="glyphicon glyphicon-pencil"
                                   href="{{ url_for('user.poner_composicion', obra_id=entry.0.composicion_id) }}"></a>&nbsp;
                                <a class="open-confirm-modal glyphicon glyphicon-remove"
                                   data-role="comp" data-id="{{ entry.0.composicion_id }}"
                                    data-toggle="modal" data-target="#confirm-modal"></a>
                            </td>
                            {% else %}
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
   {% endif %}
{% endmacro %}


{% macro serie(result) -%}
  {% if 'series' in result and result.series is not none and result.series.rowcount > 0 %}
        <div class="card">
            <div class="card-header" role="tab" id="composicion-heading">
                <h3 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#composicion-collapse" aria-expanded="true" aria-controls="composicion-collapse">
                        Serie
                    </a>
                </h3>
            </div>
            <div id="composicion-collapse" class="collapse in">
                <div class="card-block">
                    <table class="table table-striped mod-tables">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Giro</th>
                        {% if 'mod' in result and result.mod == True %}
                            <th>Usuario</th>
                        {% endif %}
                        {% if 'editor' in result and result.editor == True %}
                            <th>Estado</th>
                            <th>Acción</th>
                        {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for entry in result.series %}
                        <tr>
                            <td><a class="no-underline" href="{{ url_for("main.serie", serie_id=entry.serie_id) }}">
                                {{ entry.nom_serie }}
                                </a>
                            </td>
                            <td>
                                {% if entry.giro is not none %}
                                    {{ entry.giro }}
                                {% endif %}
                            </td>
                            {% if 'mod' in result and result.mod == True %}
                                <td>{{ entry.nom_usuario }}</td>
                                <td>
                                    <select class="form-control ajax-select" data-role="serie"
                                            data-id="{{ entry.serie_id }}">
                                        {{ render_select('Pendiente', entry.estado) }}
                                        {{ render_select('Publicado', entry.estado) }}
                                        {{ render_select('Rechazado', entry.estado) }}
                                        {{ render_select('Depositar', entry.estado) }}
                                    </select>
                                </td>
                            {% elif 'editor' in result and result.editor == True %}
                                <td>{{ entry.estado }}</td>
                            {% endif %}
                            {% if 'editor' in result and result.editor == True %}
                            <td>
                                <a class="glyphicon glyphicon-pencil"
                                   href="{{ url_for('user.poner_serie', obra_id=entry.serie_id) }}"></a>&nbsp;
                                <a class="open-confirm-modal glyphicon glyphicon-remove"
                                   data-role="serie" data-id="{{ entry.serie_id }}"
                                    data-toggle="modal" data-target="#confirm-modal"></a>
                            </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
  {% endif %}
{% endmacro %}


{% macro album(result) -%}
    {% if 'albums' in result and result.albums is not none and result.albums.rowcount > 0 %}
        <hr>
        <div class="card-block">
            <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom album</th>
                </tr>
            </thead>
            <tbody>
            {% for entry in result.albums %}
                <tr>
                    <td>{{ entry.nom_album }}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
   {% endif %}
{% endmacro %}


{% macro tema(result) -%}
    {% if 'temas' in result and result.temas is not none and result.temas.rowcount > 0 %}
        <hr>
        <div class="card">
            <div class="card-header" role="tab" id="tema-heading">
                <h3 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#tema-collapse" aria-expanded="true" aria-controls="tema-collapse">
                        Temas
                    </a>
                </h3>
            </div>
            <div id="tema-collapse" class="collapse in">
                <div class="card-block">
                    <table class="table table-striped">
                    <tbody>
                    {% for entry in result.temas %}
                        <tr>
                            <td>{{ entry.nom_tema }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
   {% endif %}
{% endmacro %}


{% macro genero(result) -%}
    {% if result.rowcount > 0 %}
        <div class="card">
            <div class="card-header" role="tab" id="tema-heading">
                <h3 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#tema-collapse" aria-expanded="true" aria-controls="tema-collapse">
                        Géneros
                    </a>
                </h3>
            </div>
            <div id="tema-collapse" class="collapse in">
                <div class="card-block">
                    <table class="table table-striped">
                    <tbody>
                    {% for entry in result %}
                        <tr>
                            <td>{{ entry.nom_gen_mus }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
   {% endif %}
{% endmacro %}



{% macro idioma(result) -%}
    {% if 'idiomas' in result and result.idiomas is not none and result.idiomas.rowcount > 0 %}
        <hr>
        <div class="card">
            <div class="card-header" role="tab" id="idioma-heading">
                <h3 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#idioma-collapse" aria-expanded="true" aria-controls="idioma-collapse">
                        Idiomas
                    </a>
                </h3>
            </div>
            <div id="idioma-collapse" class="collapse in">
                <div class="card-block">
                    <table class="table table-striped">
                    <tbody>
                    {% for entry in result.idiomas %}
                        <tr>
                            <td>{{ entry.nom_idioma }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
   {% endif %}
{% endmacro %}


{% macro archivo(result) -%}
    {% if 'archivos' in result and result.archivos is not none and result.archivos.rowcount > 0 %}
        <div class="card">
            <div class="card-header" role="tab" id="archivo-heading">
                <h3 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#archivo-collapse" aria-expanded="true" aria-controls="archivo-collapse">
                        Archivos de audio con esta interpretación
                    </a>
                </h3>
            </div>
            <div id="archivo-collapse" class="collapse in">
                <div class="card-block">
                    <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre del Archivo</th>
                            <th>Archivo</th>
                            <th>Duración (segundos)</th>
                        {% if 'editor' in result and result.editor == True %}
                            <th>Acción</th>
                        {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for entry in result.archivos %}
                        <tr>
                            <td>{{ entry.nom_archivo }}</td>
                            <td>
                                <audio controls="controls">
                                    Su navegador no admite reproducción de<code>audio</code>
                                    <source src="{{ url_for('static',
                                    filename='audio/'+entry.pista_son_id|string+'/'+entry.archivo_id|string+'/'+entry.nom_archivo) }}"
                                    type="audio/{{ entry.codec|lower|safe }}">
                                </audio>
                            </td>
                            <td>{{ entry.duracion }}</td>
                            {% if 'editor' in result and result.editor == True %}
                            <td>
                                <a class="open-confirm-modal glyphicon glyphicon-remove"
                                   data-role="archivo" data-id="{{ entry.archivo_id }}"
                                    data-toggle="modal" data-target="#confirm-modal">
                                </a>
                            </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
   {% endif %}
{% endmacro %}


{% macro archivo_inst(result) -%}
    <hr>
    <div class="render-audiofile container">
        <div class="row">
            <div class="col-md-6">
                <audio controls="controls">
                    Su navegador no admite reproducción de<code>audio</code>
                    <source src="{{ url_for('static',
                    filename='audio/'+result.0.pista_son_id|string+'/'
                                     +result.0.archivo_id|string+'/'
                                     +result.0.nom_archivo|string+'/') }}"
                    type="audio/{{ result.0.codec|lower|safe }}">
                </audio>
            </div>
            <div class="col-md-3">
               Lugar; &nbsp; {{ lugar(result.0) }}
            </div>
            <div class="col-md-3">
                {% if result.0.fecha_grab is not none %}
                    {{ render_none(result.0.fecha_grab) }} <br>
                {% endif %}
                <a href="{{ url_for("main.serie", serie_id=result.0.serie_id) }}">{{ result.0.nom_serie }}</a>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <h3>Comentario</h3>
                <p>{{ result.0.coment_pista_son }}</p>
            </div>
            <div class="col-md-6">{{ genero(result.2) }}</div>
        </div>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Rol</th>
                    <th>Instrumento</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for entry in result.1 %}
            <tr>
                <td>
                    {{ nom_link(entry) }}
                </td>
                <td>
                    {{ entry.rol_pista_son }}
                </td>
                <td>
                    {% if entry.nom_inst != 'Ninguno' %}
                       {{ entry.nom_inst }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endmacro %}
