{% macro nom(result) -%}
    {% set name %}
            {% if result.nom_part is not none and result.nom_part != 'Desconocido' %}
                {{ result.nom_part }}
            {% endif %}
            {% if result.seudonimo is not none and result is defined %}
               '{{ result.seudonimo }}'
            {% endif %}
            {% if result.nom_materno is not none and result is defined %}
               {{ result.nom_materno }}
            {% endif %}
            {% if result.nom_paterno is not none %}
               {{ result.nom_paterno }}
            {% endif %}
    {% endset %}
    {% if name|trim == "" %}
        <div style="display: inline;">Desconocido</div>
    {% else %}
        <div style="display: inline;">{{ name|safe }}</div>
    {% endif %}
{% endmacro %}


{% macro render_profile(label, result) -%}
    {% if result is not none and result is defined %}
        <tr><th scope="row">{{ label|safe }} </th><td>{{ result|safe }}</td></tr>
    {% endif %}
{% endmacro %}


{% macro part_of(result) -%}
    {% set lugar %}
        {% if result.ciudad is not none and result.ciudad is defined %}
            {{ result.ciudad }},
        {% endif %}
        {% if result.subdivision is not none and result.subdivision is defined %}
           {{ result.subdivision }},
        {% endif %}
        {% if result.pais is not none %}
           {{ result.pais }}
        {% endif %}
    {% endset %}
    {% if lugar|trim == "" %}
        <div style="display: inline;">Desconocido</div>
    {% else %}
        <div style="display: inline;">{{ lugar|safe }}</div>
    {% endif %}
{% endmacro %}



{% macro lugar(result) -%}
    {% set lugar %}
        {% if result.ciudad is not none and result.ciudad is defined %}
            {{ result.ciudad }},
        {% endif %}
        {% if result.subdivision is not none and result.subdivision is defined %}
           {{ result.subdivision }},
        {% endif %}
        {% if result.pais is not none %}
           {{ result.pais }}
        {% endif %}
    {% endset %}
    {% if lugar|trim == "" %}
        <div style="display: inline;">Desconocido</div>
    {% else %}
        <div style="display: inline;">{{ lugar|safe }}</div>
    {% endif %}
{% endmacro %}


{% macro artista(result) -%}
    {% if 'artista' in result and result['artista'] is not none and result['artista'].rowcount > 0 %}
        <div class="card">
            <div class="card-header" role="tab" id="autor-heading">
                <h3 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#autor-collapse" aria-expanded="true" aria-controls="autor-collapse">
                        Autor
                    </a>
                </h3>
            </div>
            <div id="autor-collapse" class="collapse in">
                <div class="card-block">
                    <table class="table table-striped">
                        <tr>
                            <th>Nom</th>
                            <th>País</th>
                            <th></th>
                        </tr>
                    {% for artista in result['artista'] %}
                        <tr>
                            <td>
                                <a class="no-underline" href="/autor/{{ artista.autor_id }}/">
                                    {{ nom(artista) }}
                                </a>
                            </td>
                            <td>
                                {{ lugar(artista) }}
                            </td>
                            <td>
                                {% if artista.coment_autor is not none %}
                                    {{ artista.coment_autor }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>
   {% endif %}
{% endmacro %}


{% macro colectivo(result) -%}
   {% if 'colectivo' in result and result['colectivo'] is not none and result['colectivo'].rowcount > 0 %}
       <div class="card">
            <div class="card-header" role="tab" id="colectivo-heading">
                <h3 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#colectivo-collapse" aria-expanded="true" aria-controls="colectivo-collapse">
                        Colectivo
                    </a>
                </h3>
            </div>
            <div id="colectivo-collapse" class="collapse in">
                <div class="card-block">
                    <table class="table table-striped">
                        <tr>
                            <th>Nom</th>
                            <th>País</th>
                            <th></th>
                        </tr>
                    {% for col in result['colectivo'] %}
                        <tr>
                            <td>
                                <a class="no-underline"
                                   href="/colectivo/{{ col.autor_id }}/">{{ col.colectivo_nom }}
                                </a>
                            </td>
                            <td>
                                {{ col.pais }}
                            </td>
                            <td>
                                {% if col.coment_autor is not none %}
                                    {{ col.coment_autor }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>
     {% endif %}
{% endmacro %}


{% macro composicion(result) -%}
    {% if 'composicion' in result and result['composicion'] is not none and result['composicion'].rowcount > 0 %}
       <div class="card">
            <div class="card-header" role="tab" id="composicion-heading">
                <h3 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#composicion-collapse" aria-expanded="true" aria-controls="composicion-collapse">
                        Composicion
                    </a>
                </h3>
            </div>
            <div id="composicion-collapse" class="collapse in">
                <div class="card-block">
                    <table class="table table-striped">
                        <tr>
                            <th>Título</th>
                            <th>País</th>
                            <th>Año</th>
                        </tr>
                            {% for comp in result['composicion'] %}
                            <tr>
                                <td>
                                    <a class="no-underline" href="/composicion/{{ comp.composicion_id }}/">{{ comp.nom_tit }}
                                    {% if comp.tit_alt is not none %}
                                       | {{ comp.tit_alt }}
                                    {% endif %}

                                    </a>
                                </td>
                                <td>
                                    {{ comp.pais }}
                                </td>
                                <td>
                                    {% if comp.fecha_pub is not none %}
                                        {{ comp.fecha_pub }}
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                    </table>
                </div>
            </div>
        </div>
   {% endif %}
{% endmacro %}


{% macro serie(result) -%}
    {% if 'serie' in result and result['serie'] is not none and result['serie'].rowcount > 0 %}
        <div class="card">
            <div class="card-header" role="tab" id="serie-heading">
                <h3 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#serie-collapse" aria-expanded="true" aria-controls="serie-collapse">
                        Serie
                    </a>
                </h3>
            </div>
            <div id="serie-collapse" class="collapse in">
                <div class="card-block">
                    <table class="table table-striped">
                        <tr>
                            <th>Título</th>
                            <th>País</th>
                            <th>Giro</th>
                        </tr>
                            {% for serie in result['serie'] %}
                            <tr>
                                <td>
                                    <a class="no-underline" href="/serie/{{ serie.serie_id }}/">{{ serie.nom_serie }}
                                    </a>
                                </td>
                                <td>
                                    {% if serie.pais is not none %}
                                        {{ serie.pas }}
                                    {% endif %}
                                </td>
                                <td>
                                    {{ serie.giro }}
                                </td>
                            </tr>
                            {% endfor %}
                    </table>
                </div>
            </div>
        </div>
   {% endif %}
{% endmacro %}


{% macro pista(result) -%}
    {% if 'pista' in result and result['pista'] is not none and result['pista'].rowcount > 0 %}
        <div class="card">
            <div class="card-header" role="tab" id="pista-heading">
                <h3 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#pista-collapse" aria-expanded="true" aria-controls="pista-collapse">
                        Pista Son
                    </a>
                </h3>
            </div>
            <div id="pista-collapse" class="collapse in">
                <div class="card-block">
                    <table class="table table-striped">
                        <tr>
                            <th>Título</th>
                            <th>Origin</th>
                            <th>Giro</th>
                            <th>Serie</th>
                        </tr>
                            {% for pista in result['pista'] %}
                            <tr>
                                <td>
                                    <a class="no-underline" href="/pistason/{{ pista.pista_son_id }}/">{{ pista.nom_tit }}
                                        {% if pista.tit_alt is not none %}
                                            | {{ pista.tit_alt }}
                                        {% endif %}
                                    </a>
                                </td>
                                <td>
                                    {{ lugar(pista) }}
                                </td>
                                <td>
                                    {{ pista.giro }}
                                </td>
                                <td>
                                    {% if pista.serie_id is not none %}
                                        <a href="/serie/{{ pista.serie_id }}/">{{ pista.nom_serie }}</a>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                    </table>
                </div>
            </div>
        </div>
   {% endif %}
{% endmacro %}


