.idea/
.idea/*
*.swp
*.*.swp
.*.*.swp
*.swo
*.*.swo
.*.*.swo
*.pyc
bin/
include/
lib/
lib64/
share/
pip-selfcheck.json
pyvenv.cfg
.Python
*.json
*.pyc
*.sqlite
.DS_Store
.coverage
env
migrations
tmp
__pycache__
env.sh