{% extends "layout.html" %}

{% block body %}

{% from "includes/_formhelpers.html" import render_field %}

<div>
    <br>
    <h2>Añadir una serie</h2>
    <br>
    <p>Por favor, agregue información adicional sobre este trabajo.</p>
    <form id="add-entity-form" method='POST' action="">
        {{ form.csrf_token }}
        <br>
        <div class="center-block skinny">
            <div class="form-group">
                {{render_field(form.nom_serie, class ="form-control")}}
            </div>
            <div class="form-group">
                {{render_field(form.giro, class ="form-control")}}
            </div>
            <div class="row">
                <h3>Origen</h3>
                <div class="form-group col-md-4">
                  {{render_field(form.ciudad, class ="form-control")}}
                </div>
                <div class="form-group col-md-4">
                  {{render_field(form.subdivision, class ="form-control")}}
                </div>
                <div class="form-group col-md-4">
                  {{render_field(form.pais, class ="form-control")}}
                </div>
            </div>
            <br>
             <div>
                <button class="btn btn-success" type="submit">Enviar</button>
            </div>
        </div>
    </form>
</div>

    {% include 'includes/_footer.html' %}
{% endblock %}