<div>
    <br>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6" >
            <h2 style="text-align:left;float:left;"><b>POÉTICA<i>S</i>ONORA</b></h2>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6" style="text-align:right;float:right;">
            {% include 'includes/_searchbar.html' %}
        </div>

    </div>
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3" style="text-align:left;float:left;">
        <h3 style="text-align:left;float:left;"><b>Voz, legibilidad, escucha</b></h3>
        </div>
    </div>
</div>
<br>