
    {% from 'macros.html' import persona, grupo, pista, composicion, lugar %}

    {% if 'mod' in result and result.mod == True %}
        <div id="part" class="tab-pane fade in active">
    {% else %}
        <div id="part" class="tab-pane fade">
    {% endif %}
            <br>
            <h2>Añadido por usted</h2>
            <br>
            <span>Estos son los que ha agregado;</span>
            <a class="right underline" href="{{ url_for('user.poner_part') }}">Nuevo</a>
            <div class="center-block">
                {{ persona(result) }}
                {{ grupo(result) }}
            </div>
        </div>

        <div id="pista" class="tab-pane fade">
            <br>
            <h2>Añadido por usted</h2>
            <br>
            <span>Estos son los que ha agregado;</span>
            <a class="right underline" href="{{ url_for('user.poner_composicion') }}">Nuevo Composición</a><br>
            <a class="right underline" href="{{ url_for('user.poner_pista') }}">Nuevo Pista</a><br>
            <div class="center-block">
                {{ composicion(result) }}
                {{ pista(result) }}
            </div>
        </div>

        <div id="vario" class="tab-pane fade">
            <br>
            <h2>Añadir varios</h2>
            <br>

            <div class="skinny center-block">
                <ul>
                    <li><a class="underline" href="{{ url_for('user.poner_instrumento') }}">Nuevo instrumento</a></li>
                    <li><a class="underline" href="{{ url_for('user.poner_serie') }}">Nuevo serie</a></li>
                    <li><a class="underline" href="{{ url_for('user.poner_idioma') }}">Nuevo idioma</a></li>
                    <li><a class="underline" href="{{ url_for('user.poner_genero') }}">Nuevo genero musical</a></li>
                    <li><a class="underline" href="{{ url_for('user.poner_tema') }}">Nuevo tema</a></li>
                    <li><a class="underline" href="{{ url_for('user.poner_album') }}">Nuevo album</a></li>
                </ul>
            </div>
        </div>