<div class="col-md-2">
    <div class="sidebar-nav-fixed pull-right affix">
        <div class="well">
            <ul class="nav">
                <li class="nav-header header-padding">Temas</li>
                {% for tema in result.temas %}
                    <li><a href="#">{{ tema.nom_tema }} ({{ tema.count }})</a></li>
                {% endfor %}
                <li class="nav-header header-padding">Géneros musicales</li>
                {% for genero in result.generos %}
                    <li><a class="li-link" href="#">{{ genero.nom_gen_mus }} ({{ genero.count }})</a></li>
                {% endfor %}
                <li class="nav-header header-padding">Usuarios</li>
               {% for usuario, count in result.usuarios.items() %}
                    <li><a class="li-link" href="#">{{ usuario }} ({{ count }})</a></li>
                {% endfor %}
                <li class="nav-header header-padding">Idiomas</li>
               {% for idioma in result.idiomas %}
                    <li><a class="li-link" href="#">{{ idioma.nom_idioma }} ({{ idioma.count }})</a></li>
                {% endfor %}
                <li class="nav-header header-padding">Géneros del personas</li>
               {% for gender in result.genders %}
                    <li><a class="li-link" href="#">{{ render_none(gender.genero, "Desconocido") }} ({{ gender.count }})</a></li>
                {% endfor %}
                <li class="nav-header header-padding">Ciudads</li>
                {% for lugar, count in result.lugars.items() %}
                    <li><a class="li-link" href="#">{{ render_none(lugar, "Desconocido") }} ({{ count }})</a></li>
                {% endfor %}
            </ul>
        </div>
        <!--/.well -->
    </div>
    <!--/sidebar-nav-fixed -->
</div>