<div class="text-center">
    <div><small>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        <a href="Proyecto" rel="history">Sobre el proyecto</a> | <a href="Participantes-PoeticaSonora" rel="history">Participantes</a> |
        <a href="Instancias-que-colaboran-con-nosotros" rel="history">Instancias que colaboran con nosotros</a> |
        <a href="Noticias" rel="history">Prensa</a>&nbsp;| <br>
        <a href="http://laboratorioextendido.dropmark.com/150515" target="_blank">Documentación visual</a> |
        <a href="Equipo" rel="history">Créditos 2016</a> | <a href="Equipo-RDA" rel="history">Créditos 2017</a> |
        <a href="Contacto" rel="history">Contacto</a>&nbsp;<br>
        <a href="Project" rel="history">About the project</a> | <a href="Participants" rel="history">Participants</a> |
        <a href="Collaborating-Institutions" rel="history">Collaborating Institutions</a> | <a href="Press" rel="history">Press</a> |<br>
        <a href="http://laboratorioextendido.dropmark.com/150515" target="_blank">Visual Documentation</a> |
        <a href="Team" rel="history">Credits 2016</a> |
        <a href="Equipo-RDA" rel="history">Credits 2017</a> |
        <a href="Contact" rel="history">Contact</a><br><br><b>
        <a href="http://www.twitter.com/_lleom_" class="icon-link" target="_blank"></a>
        <a href="https://www.facebook.com/laboratorioextendido" class="icon-link" target="_blank"></a></b><br>#PoéticaSonoraMX
      </small></div>
          <br>
          <br>
          <br>
      <div>
          <a href="https://lleom.net/" class="image-link" target="_blank">
              <img src="//payload.persona.co/1/0/28105/145850/lleom_logo_negro_403.jpeg" width="403" height="156"
                   width_o="403" height_o="156" src_o="//payload.persona.co/1/0/28105/145850/lleom_logo_negro_403.jpeg"
               data-mid="310542" border="0"data-scale="50"/></a>
          <br>
          <br>
      </div>
</div>