
<div>
    <br>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6" >
            <h2 style="text-align:left;float:left;"><b>POÉTICA<i>S</i>ONORA</b></h2>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6" style="text-align:right;float:right;">
            <div class="input-group" id="adv-search">
                <input type="text" class="form-control" placeholder="Search" />
                <div class="input-group-btn">
                    <div class="btn-group" role="group">
                        <div class="dropdown dropdown-lg">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                            <div class="dropdown-menu dropdown-menu-right" role="menu">
                                <form class="form-horizontal" role="form">
                                  <div class="form-group">
                                    <label for="filter">Filter by</label>
                                    <select class="form-control">
                                        <option value="0" selected>All Categories</option>
                                        <option value="1">Autor</option>
                                        <option value="2">Composicion</option>
                                        <option value="3"></option>
                                        <option value="4">Most commented</option>
                                    </select>
                                  </div>
                                  <div class="form-group">
                                    <label for="contain">Author</label>
                                    <input class="form-control" type="text" />
                                  </div>
                                  <div class="form-group">
                                    <label for="contain">Contains the words</label>
                                    <input class="form-control" type="text" />
                                  </div>
                                  <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                </form>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3" style="text-align:left;float:left;">
        <h3 style="text-align:left;float:left;"><b>Voz, legibilidad, escucha</b></h3>
        </div>
    </div>
</div>
