{% extends 'searchlayout.html' %}
{% from 'macros.html' import lugar, persona, composicion %}

{% block resultbody %}
    <div class="center-block" style="width: 80%;">
        <h2>Colectivo</h2>
        <hr>
        <div>
            <h4>Nom</h4>
            <h3 class="indented">
                {{ autor.nom_part }}
            </h3>
        </div>
         <br>
        <div>
        <h4>Origin</h4>
            <h3 class="indented">
                {{ lugar(autor) }}
            </h3>
            <h3 class="indented">
                {% if autor.fecha_comienzo is not none %}
                    {{ autor.fecha_comienzo }},
                {% endif %}
            </h3>
        </div>
        <br>
        <div>
            {% if autor.coment_autor is not none %}
                <h4>Sobre el Autor</h4>
                <h3 class="indented"> {{ autor.coment_autor }}</h3>
                <br>
            {% endif %}
        </div>
        <hr>
        {{ persona(result) }}
        <hr>
        {{ composicion(result) }}
    </div>
{% endblock %}
