{% extends 'searchlayout.html' %}
{% from 'macros.html' import nom_link, lugar, archivo_inst %}

{% block resultbody %}
    <div class="center-block" style="width: 80%;">
        <h2>Composicion</h2>
        <hr>
        <div>
            <h4>Título</h4>
            <h3 class="indented">
                {{ comp.nom_tit }}
                {% if comp.nom_alt is not none %}
                        {{ comp.nom_alt }}
                {% endif %}
            </h3>
        </div>
        <br>
        <div>
            <h4>Autor</h4>
            <h3 class="indented">
                {% for autor in autors %}
                    {{ nom_link(autor) }}
                {% endfor %}
            </h3>
        </div>
        <br>
        <div>
            {% if comp.fecha_pub is not none %}
                <h4>Fecha</h4>
                <h3 class="indented">{{ comp.fecha_pub }}</h3>
            {% endif %}
        </div>
        <br>
         <div>
            {% if comp.serie_id is not none %}
                <h4>Fecha</h4>
                <h3 class="indented"><a href="{{ url_fur("main.serie", serie_id=comp.serie_id) }}">{{ comp.nom_serie }} </a></h3>
            {% endif %}
        </div>
        <div>
            {% if comp.texto is not none and comp.texto != "" %}
                <h4>Texto</h4>
                <p class="indented"> {{ comp.texto }}</p>
                <br>
            {% endif %}
        </div>
        <hr>
        {% for res in result %}
            {{ archivo_inst(res) }}
        {% endfor %}
    </div>
{% endblock %}
