{% extends 'layout.html' %}
{% block body %}
    <div class="loading" data-loading="page"></div>
        <div class="loading_animation pulsing <%= extra_class %> "><div>
		<div id="main-page" class="container">
			<main class="content_width" data-container="content">
				<div data-container-padding>
					<div class="content_padded">
				    	<div class="bodycopy" data-sortable="Content" data-view="ProjectDetail" data-set="Project" style="display:block;">
				    		<a href="#" class="show_index" rel="show_index" style="display: none">✕</a>
				    		<div id="content" class="padded" data-id="145850">
                                <div class="project_title" style="display: none">PS Inicio</div>
					    		<div class="content clearfix" data-elementresizer data-resize-parent>
					    			<div id="project-title">
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <div style="text-align: center;">
                                            <h1><b>POÉTICA<i>S</i>ONORA</b></h1>
                                            <br>
                                            <h2><b>Voz, legibilidad, escucha</b><br></h2><br><br>
                                            <br>
                                            <br>
                                            <div><b><u><a href="/searchhome" rel="history">Repositorio Digital de Audio</a></u></b><br>
                                                Digital Audio Repository
                                                    <br>
                                                (2016-2017)
                                                    <br>
                                                    <br>
                                                <b><a href="http://poeticasonora.mx/PoeticaSonora_2017_Inicio" rel="history"><u>Programa de activaciones</u></a></b><br>
                                                Activation Program
                                                    <br>
                                                (2017)
                                                    <br>
                                                    <br>
                                                <b><a href="http://poeticasonora.mx/PoeticaSonora_2016_Inicio" rel="history"><u>Programa de activaciones</u></a></b>
                                                    <br>
                                                Activation Program<a href="Inicio" rel="history">
                                                    <br>
                                                    (2016)</a>
                                            </div>
                                         <div><small>
                                          <br>
                                          <br>
                                          <br>
                                          <br>
                                          <br>
                                        <a href="http://poeticasonora.mx/Proyecto" rel="history">Sobre el proyecto</a> | <a href="http://poeticasonora.mx/Participantes-PoeticaSonora" rel="history">Participantes</a> |
                                        <a href="http://poeticasonora.mx/Instancias-que-colaboran-con-nosotros" rel="history">Instancias que colaboran con nosotros</a> |
                                        <a href="http://poeticasonora.mx/Noticias" rel="history">Prensa</a>&nbsp;| <br>
                                        <a href="http://poeticasonora.mx/http://laboratorioextendido.dropmark.com/150515" target="_blank">Documentación visual</a> |
                                        <a href="http://poeticasonora.mx/Equipo" rel="history">Créditos 2016</a> | <a href="http://poeticasonora.mx/Equipo-RDA" rel="history">Créditos 2017</a> |
                                        <a href="http://poeticasonora.mx/Contacto" rel="history">Contacto</a>&nbsp;<br>
                                        <a href="http://poeticasonora.mx/Project" rel="history">About the project</a> | <a href="http://poeticasonora.mx/Participants" rel="history">Participants</a> |
                                        <a href="http://poeticasonora.mx/Collaborating-Institutions" rel="history">Collaborating Institutions</a> | <a href="http://poeticasonora.mx/Press" rel="history">Press</a> |<br>
                                        <a href="http://poeticasonora.mx/http://laboratorioextendido.dropmark.com/150515" target="_blank">Visual Documentation</a> |
                                        <a href="http://poeticasonora.mx/Team" rel="history">Credits 2016</a> |
                                        <a href="http://poeticasonora.mx/Equipo-RDA" rel="history">Credits 2017</a> |
                                        <a href="http://poeticasonora.mx/Contact" rel="history">Contact</a><br><br><b>
                                        <a href="http://www.twitter.com/_lleom_" class="icon-link" target="_blank"></a>
                                        <a href="https://www.facebook.com/laboratorioextendido" class="icon-link" target="_blank"></a></b><br>#PoéticaSonoraMX
                                      </small></div>
                                          <br>
                                          <br>
                                          <br>
                                      <div>
                                          <a href="https://lleom.net/" class="image-link" target="_blank">
                                              <img src="//payload.persona.co/1/0/28105/145850/lleom_logo_negro_403.jpeg" width="403" height="156"
                                                   width_o="403" height_o="156" src_o="//payload.persona.co/1/0/28105/145850/lleom_logo_negro_403.jpeg"
                                               data-mid="310542" border="0"data-scale="50"/></a>
                                          <br>
                                          <br>
                                      </div>
                                    </div>
                                    </div>
                                <directlink link="http://poeticasonora.mx/PS-Inicio" id="dl_145850"></directlink>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
        </div>

{% endblock %}
