{% extends 'layout.html' %}

{% block body %}
    {% include 'includes/_header.html' %}
    <div>
        <h4>Nom</h4>
        <h3>{{ autor.nom_primero }}
            {% if autor.nom_segundo is not none %}
                    {{ autor.nom_segundo }}
            {% endif %}
        </h3>
        <br>
            {% if autor.seudonimo is not none %}
                <h4>Seudonimo</h4>
                <h3>{{ autor.seudonimo }}</h3>
                <br>
            {% endif %}
        {% if nac.pais != "Desconocido" %}
            <h4>Lugar</h4>
            <h3>
                {% if nac.ciudad != "Desconocida" %}
                    {{ nac.ciudad }},
                {% endif %}
                {% if nac.nom_subdivision != "Desconocida" %}
                    {{ nac.nom_subdivision }},
                {% endif %}
                {{ nac.pais }}
            </h3>
        {% endif %}
        </h3>
        <br>
    </div>
    {% include 'includes/_footer.html' %}
{% endblock %}
