{% extends 'searchlayout.html' %}
{% import 'queryMacros.html' as query %}

{% block resultbody %}
    <div class="center-block" style="width: 80%;">
        <h2>Autor</h2>
        <hr>
        <div>
            <h4>Nom</h4>
            <h3 class="indented">{{ autor.nom_primero }}
                {% if autor.nom_segundo is not none %}
                        {{ autor.nom_segundo }}
                {% endif %}
            </h3>
                {% if autor.seudonimo is not none %}
                    <h3 class="indented">'{{ autor.seudonimo }}'</h3>
                {% endif %}
        </div>
        <br>
        <div>
        {% if autor.lugar_nac is not none%}
            <h4>Nac</h4>
            <h3 class="indented">
                {% if autor.fecha_nac != "desconocido" %}
                    {{ autor.fecha_nac }}
                {% endif %}
            </h3>
            <h3 class="indented">
                {{ query.lugar(nac) }}
            </h3>
            <br>
        {% endif %}
        </div>
        <div>
        {% if autor.lugar_muer is not none %}
            <h4>Muer</h4>
            <h3 class="indented">
                {% if autor.fecha_muer != "desconocido" %}
                    {{ autor.fecha_muer }}
                {% endif %}
            </h3>
            <h3 class="indented">
                {{ query.lugar(muer) }}
            </h3>
            <br>
        {% endif %}
        </div>
        <div>
            {% if autor.coment_autor is not none %}
                <h4>Sobre el Autor</h4>
                <h3 class="indented"> {{ autor.coment_autor }}</h3>
                <br>
            {% endif %}
        </div>
        <hr>
        {{ query.composicion(result) }}
    </div>
{% endblock %}
