{% extends 'searchlayout.html' %}
{% import 'queryMacros.html' as query %}

{% block resultbody %}
    <div class="center-block" style="width: 80%;">
        <h2>Pista Son</h2>
        <hr>
        <div>
        <h4>Nom</h4>
            <h3 class="indented">
                {{ pista.nom_tit }}
                {% if pista.nom_alt is not none %}
                        {{ pista.nom_alt }}
                {% endif %}
            </h3>
                {% if autor.pista_son is not none %}
                    <h3 class="indented">'{{ autor.seudonimo }}'</h3>
                {% endif %}
        </div>
         <br>
        <div>
        {% if autor.lugar_nac is not none%}
            <h4>Nac</h4>
            <h3 class="indented">
                {% if autor.fecha_nac != "desconocido" %}
                    {{ autor.fecha_nac }}
                {% endif %}
            </h3>
            <h3 class="indented">
                {% if nac.ciudad != "Desconocida" %}
                    {{ nac.ciudad }},
                {% endif %}
                {% if nac.nom_subdivision != "Desconocida" %}
                    {{ nac.nom_subdivision }},
                {% endif %}
                {{ nac.pais }}
            </h3>
            <br>
        {% endif %}
        </div>
        <div>
        {% if autor.lugar_muer is not none %}
            <h4>Muer</h4>
            <h3 class="indented">
                {% if autor.fecha_muer != "desconocido" %}
                    {{ autor.fecha_muer }}
                {% endif %}
            </h3>
            <h3 class="indented">
                {% if muer.ciudad != "Desconocida" %}
                    {{ muer.ciudad }},
                {% endif %}
                {% if muer.nom_subdivision != "Desconocida" %}
                    {{ muer.nom_subdivision }},
                {% endif %}
                {{ muer.pais }}
            </h3>
            <br>
        {% endif %}
        </div>
        <div>
        {% if autor.coment_autor is not none %}
            <h4>Sobre el Autor</h4>
            <h3 class="indented"> {{ autor.coment_autor }}</h3>
            <br>
        {% endif %}
        </div>
        <hr>
        {{ querycomp(result) }}
    </div>
{% endblock %}
