{% extends 'layout.html' %}
{% block body %}

{% include 'includes/_header.html' %}
   <div class="center-block" style="width: 80%;">
   {% if result %}
    <h3>Autor</h3>
    <table class="table table-striped">
        <tr>
            <th>Nom</th>
        </tr>
        {% for aut in result %}
        <tr>
            <td>
                <a style="text-decoration: none;" href="/autor/{{ aut.autor_id }}">{{ aut.nom_primero }}
                {% if aut.nom_segundo is not none %}
                    {{ aut.nom_segundo }}
                {% endif %}
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
   {% endif %}
   </div>
    {% include 'includes/_footer.html' %}

{% endblock %}