{% extends "layout.html" %}

{% block body %}

{% from "includes/_formhelpers.html" import render_field %}

<div>
    <br>
    <h2>Añadir una instrumento</h2>
    <br>
    <p>Por favor, agregue información adicional sobre este trabajo.</p>
    <form id="add-entity-form" method='POST' action="">
        {{ form.csrf_token }}
        <br>
        <div class="center-block skinny">
            <div class="form-group">
                {{render_field(form.nom_inst, class ="form-control")}}
            </div>
            <div class="form-group">
                {{ form.electronico }} &nbsp;
                {{ form.electronico.label }}
            </div>
            <div class="form-group">
                {{render_field(form.familia_instr_id, class ="form-control")}}
            </div>
            <div class="form-group">
              {{render_field(form.instrumento_comentario, class ="form-control")}}
            </div>
            <br>
             <div>
                <button class="btn btn-success" type="submit">Enviar</button>
            </div>
        </div>
    </form>
</div>

    {% include 'includes/_footer.html' %}
{% endblock %}