{% extends "layout.html" %}

{% block body %}

{% from "includes/_formhelpers.html" import render_field, cob %}
{%  from 'macros.html' import archivo %}

<div>
    <br>
    <h2>Añadir una pista de audio</h2>
    <br>
    <p>Por favor, agregue información adicional sobre este trabajo.</p>
    <br>
    <input type="hidden" id="obra-id" value="{{ result.obra_id|safe }}">
    <form id="add-pista-form" method='POST' action="{{ url_for('user.poner_pista') }}" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="center-block skinny">
            <div class="form-group">
                {{render_field(form.archivo, class ="form-control")}}
            </div>

            {{ archivo(result) }}
            <div class="form-group">
                {{render_field(form.comp_id, class ="form-control")}}
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    {{render_field(form.numero_de_pista, class ="form-control")}}
                </div>
                 <div class="form-group col-md-4">
                    {{render_field(form.medio, class ="form-control")}}
                </div>
                <div class="form-group col-md-4">
                    {{render_field(form.serie_id, class ="form-control")}}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    {{render_field(form.fecha_grab, class ="form-control", placeholder='dd/mm/aaaa')}}
                </div>
                 <div class="form-group col-md-4">
                    {{render_field(form.fecha_dig, class ="form-control", placeholder='dd/mm/aaaa')}}
                </div>
                <div class="form-group col-md-4">
                    {{render_field(form.fecha_cont, class ="form-control", placeholder='dd/mm/aaaa')}}
                </div>
            </div>
            <div class="row">
                <h3>Lugar de interpretación</h3>
                <div class="form-group col-md-4">
                  {{render_field(form.ciudad, class ="form-control")}}
                </div>
                <div class="form-group col-md-4">
                  {{render_field(form.subdivision, class ="form-control")}}
                </div>
                <div class="form-group col-md-4">
                  {{render_field(form.pais, class ="form-control")}}
                </div>
            </div>

            <div class="dyn-form-container">
                {% for sub_form in form.interp_form %}
                <div class="row">
                    <div data-role="dynamic-fields">
                        <div class="form-custom">
                            <div class="form-group col-md-4">
                              {{render_field(sub_form.part_id, class ="form-control" )}}
                            </div>
                            <div class="form-group col-md-2">
                              {{render_field(sub_form.rol_pista_son, class ="form-control rol-pista" )}}
                            </div>
                            <div class="form-group col-md-4">
                              {{render_field(sub_form.instrumento_id, class ="form-control instrumento" )}}
                            </div>
                            <div class="dyn-buttons col-md-2 text-center">
                                <button class="pull-down btn btn-default" data-role="remove">
                                    <div class="glyphicon glyphicon-remove"></div>
                                </button>
                                <button class="pull-down btn btn-basic" data-role="add">
                                    <div class="glyphicon glyphicon-plus"></div>
                                </button>
                            </div>
                        </div>  <!-- /div.form-inline -->
                    </div>  <!-- /div[data-role="dynamic-fields"] -->
                </div>  <!-- /div.row -->
                {% endfor %}
            </div>
            <hr>
            <div class="dyn-form-container">
                {% for sub_form in form.gen_mus_form %}
                <div class="row">
                    <div data-role="dynamic-fields">
                        <div class="form-custom">
                            <div class="form-group col-md-8">
                              {{render_field(sub_form.gen_mus_id, class ="form-control" )}}
                            </div>
                            <div class="dyn-buttons col-md-2 text-center">
                                <button class="pull-down btn btn-default" data-role="remove">
                                    <div class="glyphicon glyphicon-remove"></div>
                                </button>
                                <button class="pull-down btn btn-basic" data-role="add">
                                    <div class="glyphicon glyphicon-plus"></div>
                                </button>
                            </div>
                        </div>  <!-- /div.form-inline -->
                    </div>  <!-- /div[data-role="dynamic-fields"] -->
                </div>  <!-- /div.row -->
                {% endfor %}
            </div>
            <div class="form-group">
              {{render_field(form.coment_pista_son, class ="form-control")}}
            </div>
            <hr>
            {{ cob(form) }}
            <br>
             <div>
                <a id="pista-form-submit" class="btn btn-success open-progress-modal" data-toggle="modal"
                   data-target="#progress-modal" type="submit">Enviar</a>
            </div>
        </div>
    </form>
</div>

    {% include 'includes/_footer.html' %}
{% endblock %}