{% extends "layout.html" %}

{% block body %}

{% from "includes/_formhelpers.html" import render_field %}
{% from "queryMacros.html" import nom, lugar, fecha, render_profile %}

<div>
    <br>
    <h2>Añadir una persona u organización</h2>
    <br>
    <p>Por favor, rellene el siguiente formulario.</p>
    <form id="add-entity-form" method='POST' action="">
        {{ form.csrf_token }}
        <br>
        <div class="center-block skinny">
            <div class="form-group" id="user-type">
                {% for opt in form.user_type %}
                    <div style="display: inline-block;">{{ opt }} &nbsp;</div>
                    <div style="display: inline-block;">{{ opt.label }} &nbsp;</div>
                {% endfor %}
                {% if form.user_type.errors %}
                    <ul class="errors">
                    {% for error in form.user_type.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="row individual">
                <div class="form-group col-sm-4">
                  {{render_field(form.nom_part, class ="form-control")}}
                </div>
                <div class="form-group col-sm-4">
                  {{render_field(form.nom_segundo, class ="form-control")}}
                </div>
                <div class="form-group col-sm-4">
                  {{render_field(form.seudonimo, class ="form-control")}}
                </div>
            </div>
            <div class="organization">
                <div class="form-group">
                  {{render_field(form.nom_part_ag, class ="form-control")}}
                </div>
            </div>
            <div class="form-group">
              {{render_field(form.sitio_web, class ="form-control"
                                         , placeholder="https://www.example.com")}}
            </div>
            <div class="form-group">
              {{render_field(form.direccion, class ="form-control")}}
            </div>
            <div class="form-group">
              {{render_field(form.telefono, class ="form-control")}}
            </div>
            <div class="row individual">
                <div class="form-group col-sm-6">
                {{render_field(form.fecha_comienzo, class ="form-control"
                                       , placeholder="dd/mm/aaaa")}}
                </div>
                 <div class="form-group col-sm-6">
                {{render_field(form.fecha_comienzo, class ="form-control"
                                       , placeholder="dd/mm/aaaa")}}
                </div>
                 <div class="form-group col-sm-6">
                {{render_field(form.fecha_finale, class ="form-control")}}
                </div>
            </div>
            <div class="organization">
                <div class="form-group">
                {{render_field(form.fecha_comienzo_ag, class ="form-control"
                                               , placeholder="dd/mm/aaaa")}}
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-3">
                  {{render_field(form.ciudad, class ="form-control")}}
                </div>
                <div class="form-group col-sm-3">
                  {{render_field(form.nom_subdivision, class ="form-control")}}
                </div>
                <div class="form-group col-sm-3">
                  {{render_field(form.tipo_subdivision, class ="form-control")}}
                </div>
                <div class="form-group col-sm-3">
                  {{render_field(form.pais, class ="form-control")}}
                </div>
            </div>

            {% for org_form in form.org_form %}
            <div class="row individual">
                <div data-role="dynamic-fields">
                    <div class="form-custom">
                        <div class="form-group col-md-3">
                          {{render_field(org_form.nom_ag, class ="form-control" )}}
                        </div>
                        <div class="form-group col-md-3">
                          {{render_field(org_form.title, class ="form-control")}}
                        </div>
                        <div class="form-group col-md-2">
                          {{render_field(org_form.date_joined, class ="form-control"
                                                             , placeholder="dd/mm/aaaa")}}
                        </div>
                        <div class="form-group col-md-2">
                          {{render_field(org_form.date_left, class ="form-control"
                                                            , placeholder="dd/mm/aaaa")}}
                        </div>
                        <div class="dyn-buttons col-md-2 text-center">
                            <button class="pull-down btn btn-default" data-role="remove">
                                <div class="glyphicon glyphicon-remove"></div>
                            </button>
                            <button class="pull-down btn btn-basic" data-role="add">
                                <div class="glyphicon glyphicon-plus"></div>
                            </button>
                        </div>
                    </div>  <!-- /div.form-inline -->
                </div>  <!-- /div[data-role="dynamic-fields"] -->
            </div>  <!-- /div.row -->
            {% endfor %}

            <div class="organization">
                <div class="form-group">
                  {{render_field(form.tipo_ag, class ="form-control")}}
                </div>
            </div>
            <div class="row individual">
                <div class="form-group col-sm-6">
                  {{render_field(form.dad_name, class ="form-control")}}
                </div>
                <div class="form-group col-sm-6">
                  {{render_field(form.mom_name, class ="form-control")}}
                </div>
            </div>
            <div class="form-group">
              {{render_field(form.comment, class ="form-control")}}
            </div>
             <div class="row">
                <input data-inline="true" type="submit" class="btn btn-primary" value="Enviar">
            </div>
        </div>
    </form>
</div>

    {% include 'includes/_footer.html' %}
{% endblock %}
